<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<h2>Some of the popular languages that Data Scientists use are:</h2>
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
</ol>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
    <li>numpy</li>
    <li>pandas</li>
    <li>scikit-learn</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebooks</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Zeppelin</td>
    </tr>
    <!-- Add more rows as needed -->
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
print(200/6)

33.333333333333336

<p>Objectives:</p>
<ul>
    <li>List popular languages for Data Science</li>
    <li>Some of the commonly used libraries used by Data Scientist</li>
    <li>arithmetic expressions in Python</li>
</ul>

<h1>Author</h1>
<p>Vaishnavi Rawool</p>